.login {
  margin: auto;
  max-width: 280px;
  width: 100%;
}

.auth {
  align-items: stretch;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100vw;

  &__left-block {
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45.5%;
  }

  &__right-block {
    background: rgb(239 151 20 / 58%);
    width: 54.5%;
  }
}

.auth-form {
  &__btn-submit {
    align-items: center;
    background: #ef9714;
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    height: 37px;
    justify-content: center;
    line-height: 13px;
    max-width: 280px;
    text-align: center;
    transition: all 0.3s ease-in;
    width: 100%;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
