.login {
  margin: auto;
  max-width: 280px;
  width: 100%;
}

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  position: relative;

  &__left-block {
    width: 45.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
  }

  &__right-block {
    width: 54.5%;
    background: rgba(239, 151, 20, 0.58);
  }
}
