$main-color: #ef9714;

.profile {
  align-items: center;
  color: #1e1e1e;
  display: flex;
  font-family: Roboto;
  height: 100%;
  justify-content: center;
  padding-left: 64px;

  &__back-link {
    align-items: center;
    background: #fbfbfb;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
  }

  &__back-img {
    transform: rotate(180deg);
  }

  &__container {
    max-width: 510px;
    width: 100%;
  }

  &__avatar {
    align-items: center;
    background: #efefef;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 130px;
    justify-content: center;
    margin: 0 auto 21px;
    outline: none;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s ease-in;
    width: 130px;

    &:hover {
      background: rgb(0 0 0 / 50%);

      .profile__avatar-icon {
        display: none;
        width: 100%;

        &_edit {
          display: block;
        }
      }
    }
  }

  &__avatar-icon {
    width: 100%;
    &_edit {
      display: none;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin: 0 auto 60px;
    text-align: center;
  }

  &__item {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
  }

  &__item-input {
    background: none;
    border: 0;
    color: #999;
    font-size: 13px;
    font-weight: 500;
    height: 16px;
    line-height: 13px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;

    &:focus-visible {
      outline: none;
    }

    &.invalid-input {
      color: rgb(220, 51, 22);
    }

    &_capitalize {
      text-transform: capitalize;
    }

    &:active {
      outline: none;
    }
  }

  &__item {
    position: relative;

    label {
      display: block;
      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
      margin: 0;
      position: absolute;
      top: 11px;
    }
  }

  &__item-name {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    margin: 0;
    position: absolute;
  }

  &__submit {
    align-items: center;
    background: #ef9714;
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: 37px;
    justify-content: center;
    line-height: 13px;
    margin: 60px auto 0;
    max-width: 280px;
    outline: none;
    transition: all 0.3s ease-in;
    width: 100%;

    &:hover {
      transform: translateY(-3px);
    }
  }

  &__password-form {
    display: none;
  }

  &__info-form {
    .profile__submit {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__action-button {
    background: none;
    border: 0;
    border-bottom: 1px solid #eaeaea;
    color: $main-color;
    cursor: pointer;
    font-size: 13px;
    line-height: 13px;
    outline: none;
    padding: 10px 0;
    text-align: start;

    &_red {
      color: #f00;
    }

    &:last-of-type {
      border: 0;
    }
  }
}

.file-form {
  &__item {
    display: none;
  }

  &__input-lable {
    align-items: center;
    color: #767676;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: 19px;
    margin: 0 auto;
    max-width: 145px;
    padding: 0;
    text-align: center;
    text-decoration-line: underline;

    img {
      margin-right: 8px;
    }
  }
}
