$main-color: #ef9714;
.chat {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  color: #1e1e1e;
  font-family: Roboto;

  @media screen and (max-width: 670px) {
    flex-direction: column;
  }

  &__messages-container {
    width: 310px;
    position: relative;
    background: #fbfbfb;
    border-right: 1px solid #eaeaea;

    @media screen and (max-width: 670px) {
      width: 100%;
    }
  }

  &__header-fixed {
    display: flex;
    flex-direction: column;
    padding: 21px 10px 14px;
    border-bottom: 1px solid #eaeaea;
  }

  &__header-button {
    display: flex;
    max-width: 100px;
    width: 49%;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
  }

  &__header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__profile-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    max-width: 49px;
    width: 49%;
    margin: 0 0 0 auto;

    &:visited {
      text-decoration: none;
    }
  }

  &__button-img {
    margin-left: 8px;
  }

  &__search-field {
    height: 32px;
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 6px;
    border-radius: 5px;
    border: none;
    margin-top: 23px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    padding: 10px 20px 10px 35px;
    position: relative;
    width: 100%;
    background-size: 20px;
    border: solid 1px #efefef;
    transition: all 0.3s ease-in;

    &:focus-visible {
      outline: none;
      border: solid 1px #999999;
    }

    &:-webkit-input-placeholder {
      text-align: center;
      font-size: 12px;
      line-height: 12px;
      color: #999999;
    }

    &:-moz-placeholder {
      text-align: center;
    }

    &:-ms-input-placeholder {
      text-align: center;
    }
  }

  &__main-container {
    width: calc(100% - 310px);
    padding: 0 20px;

    @media screen and (max-width: 670px) {
      width: 100%;
      box-sizing: border-box;
      display: none;
    }
  }

  &__main-container_body {
    flex-direction: column;
    display: none;
    height: 100%;
  }

  &__select-message {
    padding: 49vh 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #999999;
    margin: 0;
  }

  &__main-date {
    margin: 48px auto 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #999999;
  }
  &__main-messages {
    max-height: 100%;
    overflow: auto;
  }
}

.main-message {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    border-bottom: solid 1px #efefef;
  }

  &__avatar {
    width: 34px;
    height: 34px;
  }

  &__avatar-container {
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    margin: 0;
  }

  &__more-button {
    transition: all 0.4s ease-in-out;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    &_clicked {
      transform: rotateZ(90deg);
    }

    &:hover {
      transform: rotateZ(90deg);
    }

    &:focus {
      transform: rotateZ(90deg);
    }
  }

  &__bottom {
    border-top: solid 1px #efefef;
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto 0 0 0;
  }

  &__option-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    margin-right: 10px;
    padding: 0;
  }

  &__form {
    width: 96%;
    display: flex;
    align-items: center;
    margin: 0;

    div:nth-of-type(1) {
      width: 98%;
    }
  }

  &__input {
    background: #efefef;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    width: 100%;

    &:active,
    &:focus-visible {
      outline: none;
    }
  }

  &__send-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
}

.modal-message {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  overflow: hidden;
  z-index: 100;
  flex-direction: column;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &_options {
    right: 0px;
    top: 45px;
    padding: 0;
    z-index: 110;
    display: none;
  }

  &_attachments {
    top: -130px;
    display: none;
  }
}

.option__button {
  width: 210px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s ease-in;

  &_delete {
    img {
      filter: invert(86%) sepia(36%) saturate(7424%) hue-rotate(354deg)
        brightness(98%) contrast(91%);
    }
  }

  &:hover,
  :focus {
    background: rgba(239, 151, 20, 0.15);
  }

  img {
    margin-right: 15px;
  }
}

.message-main {
  padding: 11px 11px 17px;
  background: #f8f8f8;
  border-radius: 0 15px 15px 15px;
  margin-bottom: 10px;
  max-width: 402px;
  position: relative;
  min-width: 114px;
  width: fit-content;
  box-sizing: border-box;

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
  }

  &__date {
    position: absolute;
    bottom: 7px;
    right: 11px;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    display: flex;
    color: #999999;
  }

  &__read {
    margin-right: 4px;
  }

  &__none-read {
    display: none;
  }
}

.outcome-message {
  border-radius: 15px 0 15px 15px;
  margin: 0 0 10px auto;
  background: rgba(239, 151, 20, 0.15);

  .message-main__date {
    color: $main-color;
  }

  &_clicked {
    background: $main-color;
    .message-main {
      &__text {
        color: #ffffff;
      }
      &__date {
        color: #ffffff;
      }
      &__read {
        display: none;
      }
      &__read-white {
        display: block;
        margin-right: 4px;
      }
    }
  }

  &__modal {
    padding: 5px 15px;
    right: 0px;
    top: -42px;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__option-bt {
    background: none;
    outline: none;
    border: none;
    transition: all 0.3s ease-in;

    &:hover {
      filter: invert(68%) sepia(20%) saturate(2769%) hue-rotate(351deg)
        brightness(96%) contrast(95%);
    }
  }
}

.item_modal-input {
  margin: 0;
}
