$main-color: #ef9714;

.chat {
  color: #1e1e1e;
  display: flex;
  font-family: Roboto;
  height: 100vh;
  position: relative;
  width: 100vw;

  @media screen and (max-width: 670px) {
    flex-direction: column;
  }

  &__messages-container {
    background: #fbfbfb;
    border-right: 1px solid #eaeaea;
    position: relative;
    width: 310px;

    @media screen and (max-width: 670px) {
      width: 100%;
    }
  }

  &__header-fixed {
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    padding: 21px 10px 14px;
  }

  &__header-button {
    align-items: center;
    background: none;
    border: 0;
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    width: 49%;
  }

  &__header-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__profile-button {
    align-items: center;
    color: #999;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    justify-content: space-between;
    line-height: 12px;
    margin: 0 0 0 auto;
    max-width: 49px;
    width: 49%;

    &:visited {
      text-decoration: none;
    }
  }

  &__button-img {
    margin-left: 8px;
  }

  &__search-field {
    background-color: #efefef;
    background-position: left;
    background-position-x: 6px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 0;
    border: solid 1px #efefef;
    border-radius: 5px;
    color: #1e1e1e;
    font-size: 13px;
    font-weight: 400;
    height: 32px;
    line-height: 13px;
    margin-top: 23px;
    padding: 10px 20px 10px 35px;
    position: relative;
    transition: all 0.3s ease-in;
    width: 100%;

    &:focus-visible {
      border: solid 1px #999;
      outline: none;
    }

    &:-webkit-input-placeholder {
      color: #999;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
    }

    &:placeholder {
      text-align: center;
    }

    &:input-placeholder {
      text-align: center;
    }
  }

  &__main-container {
    padding: 0 20px;
    width: calc(100% - 310px);

    @media screen and (max-width: 670px) {
      box-sizing: border-box;
      display: none;
      width: 100%;
    }
  }

  &__main-container_body {
    display: none;
    flex-direction: column;
    height: 100%;
  }

  &__select-message {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
    padding: 49vh 0;
    text-align: center;
  }

  &__main-date {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 48px auto 30px;
    text-align: center;
  }

  &__main-messages {
    max-height: 100%;
    overflow: auto;
  }
}

.main-message {
  &__header {
    align-items: center;
    border-bottom: solid 1px #efefef;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
  }

  &__avatar {
    height: 34px;
    width: 34px;
  }

  &__avatar-container {
    align-items: center;
    display: flex;
  }

  &__name {
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin: 0;
  }

  &__more-button {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-in-out;

    &_clicked {
      transform: rotateZ(90deg);
    }

    &:hover {
      transform: rotateZ(90deg);
    }

    &:focus {
      transform: rotateZ(90deg);
    }
  }

  &__bottom {
    align-items: center;
    border-top: solid 1px #efefef;
    display: flex;
    justify-content: space-between;
    margin: auto 0 0;
    padding: 11px 0;
    position: relative;
  }

  &__option-btn {
    background: none;
    border: 0;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    padding: 0;
  }

  &__form {
    align-items: center;
    display: flex;
    margin: 0;
    width: 96%;

    div:nth-of-type(1) {
      width: 98%;
    }
  }

  &__input {
    background: #efefef;
    border: 0;
    border-radius: 30px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 100%;

    &:active,
    &:focus-visible {
      outline: none;
    }
  }

  &__send-btn {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
  }
}

.modal-message {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  z-index: 100;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &_options {
    display: none;
    padding: 0;
    right: 0;
    top: 45px;
    z-index: 110;
  }

  &_attachments {
    display: none;
    top: -130px;
  }
}

.option__button {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  outline: none;
  padding: 10px 15px;
  transition: all 0.3s ease-in;
  width: 210px;

  &_delete {
    img {
      filter:
        invert(86%) sepia(36%) saturate(7424%) hue-rotate(354deg)
        brightness(98%) contrast(91%);
    }
  }

  &:hover,
  :focus {
    background: rgb(239 151 20 / 15%);
  }

  img {
    margin-right: 15px;
  }
}

.message-main {
  background: #f8f8f8;
  border-radius: 0 15px 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  max-width: 402px;
  min-width: 114px;
  padding: 11px 11px 17px;
  position: relative;
  width: fit-content;

  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 0;
  }

  &__date {
    bottom: 7px;
    color: #999;
    display: flex;
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
    margin: 0;
    position: absolute;
    right: 11px;
  }

  &__read {
    margin-right: 4px;
  }

  &__none-read {
    display: none;
  }
}

.outcome-message {
  background: rgb(239 151 20 / 15%);
  border-radius: 15px 0 15px 15px;
  margin: 0 0 10px auto;

  .message-main__date {
    color: $main-color;
  }

  &_clicked {
    background: $main-color;

    .message-main {
      &__text {
        color: #fff;
      }

      &__date {
        color: #fff;
      }

      &__read {
        display: none;
      }

      &__read-white {
        display: block;
        margin-right: 4px;
      }
    }
  }

  &__modal {
    padding: 5px 15px;
    right: 0;
    top: -42px;
  }

  &__options {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__option-bt {
    background: none;
    border: 0;
    outline: none;
    transition: all 0.3s ease-in;

    &:hover {
      filter:
        invert(68%) sepia(20%) saturate(2769%) hue-rotate(351deg)
        brightness(96%) contrast(95%);
    }
  }
}

.item__modal-input {
  margin: 0;
}
