$main-color: #ef9714;

.modal {
  &__container {
    align-items: center;
    background: rgb(0 0 0 / 40%);
    color: #1e1e1e;
    display: none;
    font-family: Roboto;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
  }

  &__box {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    box-sizing: border-box;
    max-width: 340px;
    padding: 40px 30px;
    position: relative;
    width: 100%;
  }

  &__header {
    color: #1e1e1e;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 auto 50px;
    text-align: center;
  }

  &__close-btn {
    background: none;
    border: 0;
    cursor: pointer;
    height: 20px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
  }

  &__submit-btn {
    align-items: center;
    background-color: $main-color !important;
    border: 0;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    height: 37px;
    justify-content: center;
    line-height: 13px;
    margin: 33px auto 0;
    outline: none;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease-in;
    width: 100%;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

.modal-show {
  display: flex;
}
