.signup {
  margin: auto;
  max-width: 280px;
  width: 100%;
}

.auth {
  align-items: stretch;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100vw;

  &__left-block {
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45.5%;
  }

  &__right-block {
    background: rgb(239 151 20 / 58%);
    width: 54.5%;
  }
}
